.container {
  display: flex;
  flex-direction: column;

  & h1 {
    align-self: center;
    margin: 2rem 0;
  }

  & .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
