.generalinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2:not(:first-of-type) {
    margin-top: 2rem;
  }

  & p {
    text-align: center;
  }

  & a {
    color: black;
    text-decoration: none;

    &:hover {
      color: var(--color-darker-orange);
      text-decoration: none;
    }
  }
}
