.row {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem 0;

  & > a {
    display: flex;

    & svg {
      width: 4rem;
    }

    &:hover {
      & svg {
        fill-opacity: 0.7;
      }
    }
  }
}

.facebook {
  fill: #3b5998;
}

.instagram {
  fill: #125688;
}
