@keyframes toast-slide-up {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.toast {
  position: fixed;
  left: 50%;
  margin-left: -40%;
  top: 1rem;
  min-height: 2.5rem;
  width: 80%;
  border-radius: 0.25rem;
  padding: 0.75rem;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  animation: toast-slide-up 0.3s;
  will-change: transform;

  &[data-variant="success"] {
    background-color: var(--notification-success-background);
    color: var(--notification-success-color);
  }

  &[data-variant="error"] {
    background-color: var(--notification-error-background);
    color: var(--notification-error-color);
  }

  & button {
    color: inherit;
    margin-left: auto;
  }
}
