@import "../../../css/variables.scss";

.card {
  background-color: $color-three;
  border-radius: 1rem;
  width: $card-with;
  width: $card-with;

  .card-container {
    width: $card-with;
    height: 100%;
    p {
      text-align: center;
      color: white;
      padding-bottom: 1rem;
      padding-bottom: 1rem;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: $color-four;
      }
    }
  }

  img {
    object-fit: cover;
    width: $card-with;
    height: $card-with;
  }

  h3 {
    color: white;
  }
}
