.card {
  background-color: var(--color-three);
  border-radius: 1rem;
  width: var(--card-with);
  width: var(--card-with);

  & .card-container {
    width: var(--card-with);
    height: 100%;
    & p {
      text-align: center;
      color: white;
      padding-bottom: 1rem;
      padding-bottom: 1rem;
      & a {
        color: white;
        text-decoration: none;
      }
      & a:hover {
        color: var(--color-four);
      }
    }
  }

  & img {
    object-fit: cover;
    width: var(--card-with);
    height: var(--card-with);
  }

  & h3 {
    color: white;
  }
}
