.generalinfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  & div {
    width: 100%;
  }

  & p {
    text-align: center;
  }

  & a {
    color: black;
    text-decoration: none;

    &:hover {
      color: var(--color-five);
      text-decoration: none;
    }
  }
}
