.container {
  display: flex;
  flex-direction: column;

  & h1 {
    align-self: center;
    margin: 2rem 0;
  }

  & .grid {
    margin: 1rem 0.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

}
