.news > ul {
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	justify-content: space-around;
}

.news > li {
	max-width: 500px;
}

.newsItem {
	display: flex;
	flex-flow: column nowrap;
	margin: 1rem;
	padding: 0.7rem;
	background-color: var(--color-four);
	border-radius: 2rem;
	color: white;
}

.newsItem > a {
	color: white;
	text-decoration: underline;
}

.newsItem > a:hover {
	color: var(--color-five) !important;
}

.newsItem > h3 {
	border-bottom: var(--color-three) 1px solid;
}

.newsItemBody {
	margin: 0;
	max-width: 400px;

	&div {
		&p {
			&a {
				color: white !important;
				text-decoration: underline;

				&:hover {
					color: var(--color-three) !important;
				}
			}
		}
	}
}

.newsItem > .publishedOn {
	text-align: right;
}

.newsItem > i {
	font-style: italic;
	filter: opacity(0.8);
	font-size: small;
}

.wmde-markdown a {
	color: white !important;
	text-decoration: underline !important;
	&:hover {
		color: var(--color-three) !important;
	}
}
