.item {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
  padding: 0.7rem;
  background-color: var(--color-four);
  border-radius: 2rem;
  color: white;

  & > a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: var(--color-five) !important;
    }
  }

  & > h3 {
    border-bottom: var(--color-three) 1px solid;
  }

  & > body {
    margin: 0;
    width: 400px;

    & a {
      color: white;
      text-decoration: underline;

      &:hover {
        color: var(--color-three);
      }
    }
  }

  & > .published-on {
    text-align: right;

    & i {
      font-style: italic;
      filter: opacity(0.8);
      font-size: small;
    }
  }
}
