.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &.delete {
    margin-left: 1rem;
    border-radius: 0.2rem;
    border: 1px solid rgb(var(--color-dark-blue));

    &:hover {
      cursor: pointer;
    }
  }
}
