.update-braggels {
  & h2,
  h3 {
    color: white;
  }

  & .container {
    background-color: rgb(var(--color-dark-blue));
    padding: 1rem;
    border-radius: 1rem;
    width: 500px;
    margin: 1rem auto;

    & a {
      color: white;

      &:hover {
        color: var(--color-darker-orange);
      }
    }

    & button {
      background-color: rgb(var(--color-dark-blue));
      padding: 0.5rem;
      color: white;
      margin-top: 1rem;
      border-radius: 0.5rem;

      &:hover {
        color: var(--color-darker-orange);
        cursor: pointer;
      }
    }

    & input {
      background-color: rgb(var(--color-dark-blue));
      color: white;
    }

    & input[type="submit"] {
      color: black;
      border: none;
      background-color: var(color-white);

      &:hover {
        background-color: var(--color-darker-orange);
      }
    }
  }
}
