.add-post {
  & form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    & input {
      outline: none;
      border: none;
      border-bottom: 2px solid var(--color-three);

      &:focus {
        border-bottom: 2px solid var(--color-five);
      }
    }

    & input[type="submit"] {
      background-color: var(--color-five);
      border: none;
      color: white;
      padding: 1rem;

      &:hover {
        background-color: var(--color-three);
        color: black;
      }
    }
  }
}
