.container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  & .button-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }

  & .news-control-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  & .item {
    margin: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
