.posts-dashboard {
  & .button-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }

  & .news-control-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  & .item {
    margin: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  & button {
    background-color: var(--color-three);
    padding: 0.5rem;
    color: white;
    width: 100%;

    &:hover {
      color: var(--color-five);
    }
  }
}
