header {
  height: var(--header-height);
  position: relative;

  & .background img,
  & .background source {
    position: relative;
    filter: opacity(0.7);
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    z-index: -2;
  }

  & .logo {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
