* {
  --color-one: #8ecae6;
  --color-two: #219ebc;
  --color-three: #023047;
  --color-four: #f4901d;
  --color-five: #fb8500;
  --color-fill: #f6f6f6;
  --card-with: 250px;
}

@font-face {
  font-family: "tittlefont";
  src: url("/fonts/KGSecondChancesSketch.ttf");
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: var(--color-fill);
}

main {
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

.error {
  color: red;
}

.ok {
  color: greenyellow;
  background-color: var(--color-three);
  border-radius: 0.5rem;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 1rem;
  font-size: 2em;
  font-family: "tittlefont";
}

h1 {
  margin-top: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
}

.center-div {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100;
  flex-flow: column nowrap;
}
