.navbar {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: var(--navbar-border-bottom);
  background: var(--navbar-background);
  color: var(--navbar-color);
  height: var(--navbar-height);
  padding: var(--navbar-padding);

  & nav {
    margin-left: auto;
    align-items: center;

    & ul {
      display: flex;
      list-style: none;
      align-items: center;

      & li {
        @media (min-width: 768px) {
          display: block;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s ease-out;

          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        justify-content: space-evenly;
      }
    }

    @media (max-width: 768px) {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  & .toggle-button {
    margin-left: auto;
    z-index: 3;
    user-select: none;
    cursor: pointer;
    position: relative;

    & i {
      background: rgb(var(--color-white));
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 1rem;

      &::before,
      &::after {
        background: rgb(var(--color-white));
        display: block;
        content: "";
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &::before {
        top: 5px;
      }

      &::after {
        top: -5px;
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  & > input[type="checkbox"] {
    display: none;

    &:checked {
      & ~ .menu {
        visibility: visible;
        opacity: 1;
        background: var(--navbar-background);
      }

      & ~ label {
        & i {
          background: transparent;

          &::before {
            top: 0;
            transform: rotate(45deg);
          }

          &::after {
            top: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
