@import url("../../css/index.css");

footer {
  width: 100%;
  background-color: var(--color-three);
}

footer p {
  text-align: center;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: var(--color-five);
}
