.braggel {
	background-color: var(--color-three);
	color: white;
	padding: 5rem;

	& p {
		text-align: center;
	}

	& a {
		text-decoration: underline;
		color: white;

		&:hover {
			color: var(--color-five);
		}
	}
}

.custom-shape-divider-top-1662392900 {
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1662392900 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 65px;
}

.custom-shape-divider-top-1662392900 .shape-fill {
	fill: var(--color-fill);
}
