.braggel {
  background-color: var(--color-three);
  color: white;
  padding: 5rem;

  & p {
    text-align: center;
  }

  & a {
    text-decoration: underline;
    color: white;

    &:hover {
      color: var(--color-five);
    }
  }
}

.divider {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.divider .shape-fill {
  fill: var(--color-fill);
}
