:root {
  --color-dark-blue: 2 48 71;
  --color-blue: 33 158 188;
  --color-one: #8ecae6;
  --color-darker-orange: 251 133 0;
  --color-lighter-orange: 244 144 29;
  --card-with: 250px;
  --color-white: 255 255 255;
  --color-dark-grey: 27 28 30;
  --color-grey: 106 120 124;
  --dark-functional-red: 255 41 41;
  --dark-functional-orange: 255 153 10;
  --dark-functional-green: 2 207 50;

  /* element coloring */
  --admin-braggel-upload-color: rgb(var(--color-white));
  --admin-braggel-upload-button-hover-color: rgb(var(--color-darker-orange));
  --admin-user-overview-table-background: rgb(var(--color-darker-orange));
  --admin-user-overview-table-border-color: rgb(var(--color-darker-orange));
  --braggel-link-color: rgb(var(--color-white));
  --braggel-link-hover-color: rgb(var(--color-darker-orange));
  --button-primary-background: rgb(var(--color-dark-blue));
  --button-primary-background-hover: rgb(var(--color-blue));
  --button-primary-border-color: transparent;
  --button-primary-color: rgb(var(--color-white));
  --button-secondary-background: rgb(var(--color-white));
  --button-secondary-border-color: rgb(var(--color-white));
  --button-secondary-color: rgb(var(--color-dark-blue));
  --card-background: rgb(var(--color-dark-blue));
  --card-color: rgb(var(--color-white));
  --input-border-active: rgb(var(--color-grey));
  --input-border-focus: rgb(var(--color-blue));
  --input-border-hover: rgb(var(--color-blue));
  --input-border-inactive: rgb(var(--color-grey) / 80%);
  --input-border-invalid: rgb(var(--dark-functional-red));
  --input-outline-active: rgb(var(--color-grey));
  --input-outline-focus: rgb(var(--color-blue));
  --input-outline-invalid: rgb(var(--dark-functional-red));
  --form-input-helper-text: rgb(var(--color-grey));
  --form-input-hint: rgb(var(--color-grey));
  --link-color: initial;
  --link-color-hover: rgb(var(--color-darker-orange));
  --navbar-border-bottom: none;
  --navbar-background: rgb(var(--color-dark-blue));
  --navbar-color: rgb(var(--color-white));
  --news-item-background: rgb(var(--color-lighter-orange));
  --news-item-color: rgb(var(--color-white));
  --news-item-link-hover-color: rgb(var(--color-dark-blue));
  --notification-error-background: rgb(var(--dark-functional-red));
  --notification-error-color: rgb(var(--color-white));
  --notification-success-background: rgb(var(--dark-functional-green));
  --notification-success-color: rgb(var(--color-white));
  --colour-four: rgb(var(--color-lighter-orange));
  --spinner-color: rgb(var(--color-darker-orange));

  /* metrics */
  --button-padding: 0.5rem 1rem;
  --input-label-margin-left: 8px;
  --input-margin: 8px 0 4px 0;
  --input-padding: 8px 12px;
  --input-height: 53px;
  --input-border-radius: 5px;

  /* site specific */
  --header-height: calc(100vh - var(--navbar-height) - 1rem);
  --navbar-height: 70px;
  --navbar-padding: 0 1rem;
  --braggel-background: rgb(var(--color-dark-blue));
}

@font-face {
  font-family: "KG Second Chances Sketch";
  src: url("./fonts/KGSecondChancesSketch.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Montserrat.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: Montserrat, sans-serif;
  font-size: calc(16px + 0.25vmax);
  font-weight: 400;

  & div#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }
}

button {
  align-items: center;
  background: var(--button-primary-background);
  border: 2px solid var(--button-primary-border-color);
  color: var(--button-primary-color);
  cursor: pointer;
  display: flex;
  font-size: inherit;
  justify-content: center;
  padding: var(--button-padding);

  &:hover {
    background: var(--button-primary-background-hover);
  }

  & > svg {
    fill: currentcolor;
    width: 0.6rem;

    &:first-child {
      margin-right: 0.2rem;
    }

    &:last-child {
      margin-left: 0.2rem;
    }
  }

  &.secondary {
    background: var(--button-secondary-background);
    border-color: var(--button-secondary-border-color);
    color: var(--button-secondary-color);

    &:hover {
      border-width: 3px;
      font-variation-settings: "wght" 600;
      font-weight: 600;
    }
  }

  @media (prefers-color-scheme: light) {
    &:hover {
      border-width: 3px;
      font-variation-settings: "wght" 600;
      font-weight: 600;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "KG Second Chances Sketch", sans-serif;
}

input,
select {
  box-sizing: border-box;

  /* TODO: extract border */
  border: 2px solid var(--input-border-inactive);
  border-radius: var(--input-border-radius);
  color: inherit;
  font-size: inherit;
  height: var(--input-height);
  margin: var(--input-margin);
  padding: var(--input-padding);

  &:active {
    outline: 2px solid var(--input-outline-active);
    border-color: var(--input-border-active);
  }

  &:hover {
    border-color: var(--input-border-hover);
  }

  &:invalid {
    border: 2px solid var(--input-border-invalid);
  }

  &:focus {
    outline: 2px solid var(--input-outline-focus);
    border-color: var(--input-border-focus);
  }

  &[disabled] {
    &:hover {
      border-color: var(--input-border-inactive);
    }

    &:active {
      outline: 0;
    }
  }

  &:invalid:focus {
    border-color: var(--input-border-invalid);
    outline: 2px solid var(--input-outline-invalid);
  }
}

label {
  display: flex;
  flex-direction: column;

  & > span {
    margin-left: var(--input-label-margin-left);

    &.label-text {
      font-variation-settings: "wght" 600;
      font-weight: 600;
    }

    &.helper-text {
      color: var(--form-input-helper-text);
    }

    &.hint {
      font-size: 0.8rem;
      color: var(--form-input-helper-text);
      margin-left: auto;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    margin: 1em 0;
  }
}
